/* Começo do primeiro banner */
.banner1 {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.unidade {
    display: flex;
    flex-direction: column;
}
.i-titulo {
    width: 500px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 100px auto 0 auto;
    background-color: #0C243C;
    color: #F49C24;
    border-radius: 50px;
    font-size: 30px;
    font-family: 'fonte';
}
select {
    width: 700px;
    border: solid 3px #32a7b1;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    margin: auto;
    outline: 0;
}
button {
    background-color: #F49C24;
    color: #0C243C;
    width: auto;
    height: auto;
    border-radius: 20px;
    font-family: 'fonte';
    margin: 10px auto 10px auto;
    padding: 10px 30px 10px 30px;
    font-size: 22px;
    border: none;
    cursor: pointer;
    transition: .3s;
    box-shadow: 0 2px 4px black;
} button:hover {
    background-color: #FCF4EC;
    transition: .3s;
    box-shadow: 0 4px 8px black;
}
p{
    font-size: 25px;
}
/* Final do primeiro banner */
/* Começo do segundo banner */
.banner2{
    width: 100%;
    background-color: #0C243C;
    display: none;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
.img1 img{
   
    width: 100%;
}

.grafPizza{
    display: flex;
    justify-content: space-between;
    width: 44%;
}
.card {
    margin-top: 50px;
    width: 40%;
}
.endereco {
    border-radius: 25px;
}