html {
    font-family: 'font';
}

/* Começo do primeiro banner */
/* Começo dos canais de atendimento */

.titulo1 {
    width: 500px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #0C243C;
    color: #F49C24;
    border-radius: 50px;
    font-size: 30px;
    font-family: 'fonte';
}

.banner1 h1 {
    color: #F49C24;
}

.banner1 {
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 70px 0 0 0;
}

.canais {
    display: flex;
    flex-direction: column;
    background-color: #0C243C;
    width: 40%;
    height: auto;
    justify-content: center;    
    padding: 0 0 0 70px;
}
.canais h1 {
    font-size: 28px;
    font-family: 'fonte';
    padding: 20px 0;
}
.canais .endereco img {
    height: 50px;
    width: 60px;
}

.canais img {
    height: 250px;
    width: 350px;
    border-radius: 15px;
}

.canais ul {
    list-style: none;
    padding: 0;
    font-weight: 700;
    font-size: 20px;
}
.canais ul li {
    padding: 2px 0;
}
.maps {
    width: 400px;
    height: 200px;
    margin: 0 0 30px 0;
    border-radius: 25px;
}

/* Final do canais de atendimento */
/* Começo do contato */
.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto 0 auto;
}


.contato ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
}

.contato ul input {
    width: 300px;
    height: 40px;
    margin-top: 20px;
    border-radius: 10px;
    transition: .3s;
    border: solid 3px #32a7b1;
    outline: none;
}.contato ul input:focus {
    transform: scale(1.05);
}

.contato h2 {
    display: flex;
    justify-content: center;
    width: 300px;
    background-color: #0C243C;
    color: #F49C24;
    border-radius: 50px;
    padding: 10px;
    transition: .3s;
    margin: 30px;
    cursor: pointer;
    font-family: 'fonte';
    font-size: 22px;
}

.contato h2:hover {
    transform: scale(1.1);
}

.endereco {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 350px;
}

.endereco p {
    font-weight: 700;
    margin-left: 40px;
}

/* Final do contato */