@font-face {
    font-family: 'fonte';
    src: url(../font/SourceSansPro-Bold.otf);
}

@font-face {
    font-family: 'font';
    src: url(../font/SourceSansPro-Regular.otf);
}

html {
    font-family: 'font';
    background-color: #1c7c94;
    color: #fcf4ec;
}

body::-webkit-scrollbar {
    width: 5px;
  }
  body::-webkit-scrollbar-track {
    background-color: #0C243C;
  }

  body::-webkit-scrollbar-thumb {
    background-color: #F49C24;
    outline: 1px solid #0C243C;
    border-radius: 20px;
  }

.logo{
    width: 50px;
    height: 50px;
    margin: 10px 10px 10px 20px;
    position: absolute;
    top: 0;
    left: 0;
    transition: .3s;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #0C243C;
    position: fixed;
    top: 0;
    box-shadow: 0 2px 8px black;
}
.nav-lista {
    display: flex;
    flex-direction: row;
}.nav-lista li {
    line-height: 70px;
    height: 70px;
    transition: .3s;
    padding: 0 20px 0 20px;
}.nav-lista li a:hover {
    letter-spacing: 3px;
}.nav-lista li a {
    color: #F49C24;
    font-size: 24px;
    transition: .3s;
    padding: 10px;
    text-decoration: none;
    font-family: 'fonte';
}.btn-login img{
    width: 50px;
    height: 50px;
    padding: 10px 0 10px 0;
    transition: .3s;
}
.logo:hover, .btn-login img:hover{
    transition: .3s;
    transform: scale(1.2);
}
