html {
    font-family: 'font';
}

body {
    width: auto;
    height: auto;
    background-color: #1c7c94;
    display: flex;
    flex-direction: column;
}


.container {
    width: 95%;
    height: 100%;
    display: flex;
    margin: auto;


}

/* Incio do botão "Cancelar" */
a {
    color: #F49C24;
    font-family: 'fonte';
    text-decoration: none;
}

.cancelar a{
    font-family: 'fonte';
    color: #32a7b1;
    text-decoration: underline ;
}.cancelar {
    margin: 0 0 20px 0;
}

/* Fim do botão "Cancelar" */




/* Início da frase: "Recuperação de Senha" */

.box_frase {
    width: auto;
    height: 100px;
    display: flex;
    justify-content: center;
    margin: 70px 0 0 0;
}

.frase {
    width: 500px;
    background-color: #F49C24;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0C243C;
    font-family: 'fonte'; 
    font-size: larger;
}

/* Fim da frase: "Recuperação de Senha" */



/* Início Banner */

.banner {
    width: auto;
    height: auto;
    margin: 30px;
}

.banner .container{
    width: 500px;
    height: auto;
    background-color: #0C243C;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Fim Banner */





/* Início Banner Tela 01 */


.tela01 {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}


.tela01 p {
    font-family: 'fonte';
    color: #fdfdfd;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.tela01 h1 {
    font-family: 'font';
    font-size: larger;
    color: #F49C24;
    margin-bottom: 10px;
}

input{
    width: 250px;
    border: solid 3px #32a7b1;
    border-radius: 10px;
    padding-bottom: 10px;
    text-align: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

.tela01 button {
    background-color: #F49C24;
    color: #0C243C;
    width: 150px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    font-size: x-large;
    margin: 15px;
    padding: 5px;
    border: 0;
}

.tela01 button a{
    color: #0C243C;
    font-family: 'font';
}

/* Final Banner Tela 01 */



/* Início Banner Tela 02 */

.container .tela02 {
    width: auto;
    height: auto;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}


.tela02 p {
    font-family: 'fonte';
    color: #fdfdfd;
    margin: 10px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
}

.tela02 h1 {
    font-family: 'font';
    font-size: larger;
    color: #F49C24;
    margin-bottom: 10px;
}

input{
    width: 250px;
    border: solid 3px #32a7b1;
    border-radius: 10px;
    padding-bottom: 10px;
    text-align: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

.tela02 button {
    background-color: #F49C24;
    color: #0C243C;
    width: 150px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    font-size: x-large;
    margin: 15px;
    padding: 5px;
    margin-left: 22%;
    margin-right: 25%;
}

.tela02 button a{
    color: #0C243C;
    font-family: 'font';
}

.tela02 h1{
    margin-bottom: 5px;
    margin-top: 30px;
}

/* Fim Banner Tela 02 */




/* Início Banner Tela 02 */

.tela03 {
    width: auto;
    height: auto;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.tela03 .container {
    display: flex;
    flex-direction: column;
}



.tela03 h1 {
    font-family: 'font';
    font-size: larger;
    color: #fdfdfd;
    margin-bottom: 10px;
    background-color: #58D244;   
}   

.tela03 button {
    background-color: #F49C24;
    color: #0C243C;
    width: 150px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    font-size: x-large;
    margin: 15px;
    padding: 5px;
}

.tela03 button a{
    color: #0C243C;
    font-family: 'font';
}

/* Fim do footer 3 */

/* Início footer 3 */

.footer {
    width: auto;
    height: 100px;
    margin-top: 50px;
}

.footer1 {
    width: auto;
    height: 15px;
    background-color: #061829;

}



.footer2 {
    width: auto;
    height: auto;
    background-color: #0C243C;
    display: flex;
    justify-content: space-between;
    color: #fdfdfd;
    font-family: 'fonte';
    text-align: center;

}

.footer2 ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    margin-bottom: 20px;
}

.footer2 h1{
    margin: 10px;
    font-family: 'font';
    text-decoration: underline;
    color: #F49C24  ;
}

.footer2 li{
    margin: 5px;
}

.footer3 {
    background-color: #061829;
    width: auto;
    height: 10px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
    padding: 15px;
    color: #fdfdfd;
}


/* Fim do footer */