@font-face {
    font-family: 'font';
    src: url(../font/SourceSansPro-Regular.otf);
}

footer {
    width: 100%;
    background-color: #0C243C;
    color: white;
}

footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer .container img {
    width: 70px;
    height: 70px;
    padding: 20px;
}

footer .container img:hover {
    transition: 0.3s;
    width: 75px;
    height: 75px;
}
.redes {
    padding: 5%;
    width: 40%;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textos {
    width: 60%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textos a {
    text-decoration: none;
    padding-left: 15px;
    color: #F49C24;
    font-size: 14px;
    font-family: 'font';
}
.textos a:hover {
    transition: 0.3s;
    color: white;
}