html {
  font-family: 'font';
}

/* Início do dashboard */

.dashboard {
  margin-top: 110px;
}

.dashboard h2 {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  font-size: xx-large;
  font-weight: bold;
  margin: 10px 0px;
  padding-bottom: 5px;
  border-bottom: 1px solid #FCF4EC;
}

.dashboard img {
  width: 30px;
}

/* Início da tela de bairro */
.dashboard .containerBairro {
  width: 90%;
  margin: 20px auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #0C243C;
  border-radius: 20px;
  padding: 10px;
}

.dashboard .bairroFiltros {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 0px 10px;
}

.dashboard .bairroFiltros select, input {
  margin-bottom: 20px;
}

.dashboard .bairroLista {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  border-left: #FCF4EC 1px solid;
  padding: 5px;
}

.dashboard .bairroCard {
  display: flex;
  flex-direction: column;
  width: 30%;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  color: #FCF4EC;
}

.dashboard .bairroCard img {
  height: 200px;
  width: 98%;
  height: auto;
  align-self: center;
}

.dashboard .bairroCard h3 {
  margin: 5px 0px;
  font-size: large;
  font-weight: bold;
}

/* Fim da tela de bairro */

/* Início da tela de ruas */

.dashboard .containerRua {
  width: 90%;
  margin: 20px auto;
  display: none;
  align-items: flex-start;
  justify-content: center;
  background-color: #0C243C;
  border-radius: 20px;
  padding: 10px;
}

.dashboard .ruaFiltros {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 0px 10px;
}

.dashboard .ruaFiltros select {
  margin-bottom: 20px;
}

.dashboard .ruaLista {
  display: flex;
  flex-direction: column;
  width: 70%;
  border-left: #FCF4EC 1px solid;
  padding: 5px;
}

.dashboard .ruaCard {
  display: flex;
  flex-direction: column;
  width: 90%;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.dashboard .ruaCard h3 {
  font-weight: bold;
  font-size: large;
  margin-bottom: 10px;
}

/* Fim da tela de ruas */

/* Início da tela de dados */

.dashboard .containerDados {
  margin: auto;
  width: 90%;
  display: none;
  flex-direction: column;
  align-items: center;
}

.dashboard .containerDados h2 {
  justify-content: space-between;
  text-align: center;
  border-bottom: none;
  width: 80%;
  align-items: center;
}

.dashboard .containerDados .btnCadastrar {
  margin: 0px;
}

.dashboard .containerDadosFiltros {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding: 10px;
  margin: 10px auto;
  background-color: #0C243C;
  border-radius: 20px;
}

/* .dashboard .endereco,.titulo {
  width: 90%;
  margin: auto;
} */

.dashboard .inputWide {
  width: 100%;
  margin: 10px auto;
}

.dashboard input,select {
  padding: 5px;
  border-radius: 10px;
  margin-top: 5px;
}

.dashboard .containerDadosFiltros .cardContainer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 70%;
}

.dashboard .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.dashboard .card select {
  width: 60%;
}

.dashboard .containerGraficos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin: auto;
  background-color: #0C243C;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 30px;
}

.dashboard .cardGrafico {
  display: flex;
  width: 70%;
  justify-content: space-between;
  margin: auto;
  height: 40vh;
}

.dashboard .cardGrafico canvas {
  width: 50%;
}

.dashboard .cardGauge {
  display: flex;
  width: 30%;
  gap: 20%;
  position: relative;
  right: 18%;
  margin: auto;
}

/* Checkbox */

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin-bottom: 5px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}
.kpi{
  margin: 20px;
  display: flex;
  justify-content: space-between;
  color: black;
}
.kpiCritico{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  height: 40px;
  width: 60px;
  border-radius: 5px;
  border: solid;
}
.kpiAlerta {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: yellow;
  height: 40px;
  width: 60px;
  border-radius: 5px;
  border: solid;
}
.kpiIdeal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: yellowgreen;
  height: 40px;
  width: 60px;
  border-radius: 5px;
  border: solid;
}
.kpiPerfeito {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  height: 40px;  
  width: 60px;
  border-radius: 5px;
  border: solid;  
}
