@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap');  

 
 

  

  

 
 

body {  

 
 

    margin: 0;  

 
 

    font-family: 'Source Sans Pro', sans-serif;  

 
 

    background-color: #1C7C94;  

 
 

}  

 
 

  

  

 
 

.header {  

 
 

    width: 100%;  

 
 

    height: 8vh;  

 
 

    background-color: #0C243C;  

 
 

}  

 
 

  

  

 
 

.header a img {  

 
 

    width: 50px;  

 
 

    height: 50px;  

 
 

    align-items: center;  

 
 

}  

 
 

  

  

 
 

.navBar {  

 
 

    width: 800px;  

 
 

    color: #F49C24;  

 
 

    list-style: none;  

 
 

    display: flex;  

 
 

    justify-content: space-around;  

 
 

    align-items: center;  

 
 

}  

 
 

  

  

 
 

a {  

 
 

    text-decoration: none;  

 
 

    color: #F49C24;  

 
 

    font-size: 32px;  

 
 

}  

 
 

  

  

 
 

.navBar a:hover {  

 
 

    letter-spacing: 2px;  

 
 

    font-size: 34px;  

 
 

    transition: 0.3s;  

 
 

}  

 
 

.container {  

 
 

    width: 95%;  

     

    display: flex;  

 
 

    margin: auto;  

 
 

    align-items: center;  

 
 

    

 
 

}  

 
 

  

  

 
 

.header .container {  

 
 

    justify-content: space-between;  

 
 

    align-items: center;  

 
 

    text-align: center;  

 
 

}  

 
 

.banner {  

 
 

    width: 100%;  

 
 

    display: flex;  

 
 

    background-size: cover;  

 
 

}  

 
 

  

  

 
 

.bloco {  

 
 

    width: 40%;  

 
 

    height: 70px;  

 
 

    background-color: #0C243C;  

 
 

    border-radius: 50px;  

 
 

    display: flex;  

 
 

    flex-direction: column;  

 
 

    text-align: center;  

 
 

    align-items: center;  

 
 

    padding-top: 15px;  

 
 

    padding-bottom: 0px;  

 
 

}  

 
 

  

  

 
 

.banner .container {  

 
 

    width: 100%;  

 
 
 

    margin-top: 50px;  

 
 

    justify-content: center;  

 
 

}  

 
 

  

  

 
 

.bloco h1 {  

 
 

    margin: 0;  

 
 

    color: #F49C24;  

 
 

    font-size: 48px;  

 
 

    display: flex;  

 
 

    justify-content: start;  

 
 

}  

 
 

.social { 

    display: flex; 

    justify-content: space-between; 

    flex-direction: column; 

    justify-content: center; 

} 

 
 

.social .conteiner2 {  

 
 

    display: flex;  

 
 

    justify-content: space-around;  

 
 

    padding: 20px 5px;  

 
 

    

 
 

    flex-wrap: wrap;  

 
 

    margin-top: 5%;  

 
 

    margin-bottom: 5%;  

 
 

}  

 
 

  

  

 
 

span{  

 
 

  

  

 
 

color: #F49C24;  

 
 

}  

 
 

p{  

 
 

    color:#FCF4EC;  

 
 

}  

 
 

.card {  

 
 

    width: 35%;  

 
 

    height: 100px;  

 
 

    background-color: #0C243C;  

 
 

    border-radius: 20px;  

 
 

    text-align: center;  

 
 

    padding: 20px 5px;  

 
 

    margin-bottom: 5%;  

 
 

}  

 
 

.card4 {  

 
 

    width: 35%;  

 
 

    height: 50px;  

 
 

    background-color: #0C243C;  

 
 

    border-radius: 20px;  

 
 

    text-align: center;  

 
 

    padding: 20px 5px;  

 
 

    margin-bottom: 5%;  

 
 

}  

 
 

  

  

 
 

h2{  

 
 

    color:#F49C24  

 
 

}  

 
 

.botão{  

 
 

     

 
 

    width: 35%;  

 
 

    height: 10px;  

 
 

    background-color: #0C243C;  

 
 

    border-radius: 20px;  

 
 

    text-align: center;  

 
 

    padding: 20px 5px;  

 
 

    margin-bottom: 5%;  

 
 

    color: #F49C24;  

 
 

    text-align: center;  

 
 

}  

 
 

.container2{  

 
 

    align-items: center;  

 
 

}  

 
 

  

  

 
 

 

 