/* Início do titulo */
.box_mensagem {
    width: auto;
    height: 100px;
    display: flex;
    justify-content: center; 
    margin: 70px 0 0 0;
}

.mensagem{
    width: 500px;
    background-color: #F49C24;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    justify-content: center;
    color: #0C243C;
    font-size: 30px;
    font-family: 'fonte';
}.mensagem h1 {
    padding-top: 30px;
}
/* Final do titulo */
/* Começo do primeiro banner */
/* Primeiro card */
.container {
    width: 90%;
    margin: auto;
}
.banner {
    display: flex;
    justify-content: space-between;
    margin: 50px auto 50px auto;
}
.card1 {
    background-color: #0C243C;
    width: 370px;
    list-style: none;
    padding:40px ;
    border-radius: 20px;
    font-size: 20px;
    height: auto;
}
.ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
}
.coluna h1 {
    color: #F49C24;
    font-size: 25px;
    font-weight: 700;
}
.card-titulo {
    text-align: center;
}
.card1 li {
    margin-top: 20px;
    width: 90%;
}
.card1 p {
    margin: 0;
    padding: 0 0 0 10px;
}
.card1 input{
    padding: 10px;
    border-radius: 15px;
    outline: none;
    border-color: #32a7b1;
    width: 100%;
}
/* final do primeiro card */

/* Erros card1 */
#vNome, #vSobrenome, #vDataN, #vCpf, #vTelefone {
    display: none   ;
    color: red;
    font-size: 14px;
    padding: 0 0 0 10px;
}


/* Começo card3 */
.card3 {
    background-color: #0C243C;
    width: 500px;
    height: auto;
    list-style: none;
    padding: 40px 68px 40px 40px;
    border-radius: 20px;
    font-size: 20px;

}

.card3 ul li {
    width: auto;
    margin: 10px 10px 0 0;

}
.card3 p {
    margin: 0;
    padding: 0 0 0 10px;
}
.card3 input {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    outline: none;
    border-color: #32a7b1;
}
#ipt_email{
    width: 100%;
}

/* Final do segundo e terceiro card */
#vEmail, #vSenha, #vSenhaRep {
    display: none   ;
    color: red;
    font-size: 14px;
    padding: 0 0 0 10px;
}


/* Cadastrar */
.card {
    background-color: #0C243C;
    width: 550px;
    list-style: none;
    padding: 40px 40px 40px 40px;   
    border-radius: 20px;
    font-size: 20px;
    height: auto;
    margin-bottom: 30px;

}
.card ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.card input {
    width: 230px;
    padding: 10px;
    border-radius: 15px;
    outline: none;
    border-color: #32a7b1;
}
.card p {
    margin: 10px 0 0 0;
    padding: 0 0 0 10px;
}
#ipt_email {
    width: 96%;
}



/* Final do segundo e terceiro card */
/* Cadastrar */
.boxCadastro {
    margin-top: 20px ;
    display: flex;
    justify-content: center;
}
.cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F49C24;
    width: 300px;
    height: 50px;
    border-radius: 10px;
}
.boxCadastro .cadastro h1 a{
    text-decoration: none;
    color: #0C243C;
    font-size: 25px;
    font-weight: 700;
}